<h1>Mirlo Test</h1>
<p>
	<b>Working hours:*</b>
	<table>
	<tr>
		<td>&nbsp;</td>
		<td>Mon</td>
		<td>Tue</td>
		<td>Wed</td>
		<td>Thu</td>
		<td>Fri</td>
		<td>Sat</td>
		<td>Sun</td>
	</tr>
	<tr>
		<td>From:</td>
		<td><input id="mon1" name="mon1" type="number" value="1" width="50px" min="1" max="23" onchange="validate(mon1, mon2)"></td>
		<td><input id="tue1" name="tue1" type="number" value="1" width="50px" min="1" max="23" onchange="validate(tue1, tue2)"></td>
		<td><input id="wed1" name="wed1" type="number" value="1" width="50px" min="1" max="23" onchange="validate(wed1, wed2)"></td>
		<td><input id="thu1" name="thu1" type="number" value="1" width="50px" min="1" max="23" onchange="validate(thu1, thu2)"></td>
		<td><input id="fri1" name="fri1" type="number" value="1" width="50px" min="1" max="23" onchange="validate(fri1, fri2)"></td>
		<td><input id="sat1" name="sat1" type="number" value="1" width="50px" min="1" max="23" onchange="validate(sat1, sat2)"></td>
		<td><input id="sun1" name="sun1" type="number" value="1" width="50px" min="1" max="23" onchange="validate(sun1, sun2)"></td>
	</tr>
	<tr>
		<td>To:</td>
		<td><input id="mon2" name="mon2" type="number" value="1" width="50px" min="1" max="23" onchange="validate(mon1, mon2)"></td>
		<td><input id="tue2" name="tue2" type="number" value="1" width="50px" min="1" max="23" onchange="validate(tue1, tue2)"></td>
		<td><input id="wed2" name="wed2" type="number" value="1" width="50px" min="1" max="23" onchange="validate(wed1, wed2)"></td>
		<td><input id="thu2" name="thu2" type="number" value="1" width="50px" min="1" max="23" onchange="validate(thu1, thu2)"></td>
		<td><input id="fri2" name="fri2" type="number" value="1" width="50px" min="1" max="23" onchange="validate(fri1, fri2)"></td>
		<td><input id="sat2" name="sat2" type="number" value="1" width="50px" min="1" max="23" onchange="validate(sat1, sat2)"></td>
		<td><input id="sun2" name="sun2" type="number" value="1" width="50px" min="1" max="23" onchange="validate(sun1, sun2)"></td>
	</tr>
	<tr>
		<td></td>
		<td><input id="chk1" name="chk1" type="checkbox" >24hrs</td>
		<td><input id="chk2" name="chk2" type="checkbox" >24hrs</td>
		<td><input id="chk3" name="chk3" type="checkbox" >24hrs</td>
		<td><input id="chk4" name="chk4" type="checkbox" >24hrs</td>
		<td><input id="chk5" name="chk5" type="checkbox" >24hrs</td>
		<td><input id="chk6" name="chk6" type="checkbox" >24hrs</td>
		<td><input id="chk7" name="chk7" type="checkbox" >24hrs</td>

	</tr>
</table>
<input id="chkall" name="chkall" type="checkbox" onchange="chkallchilds(this)" >Apply to all
</p>

<p>
Thank you for visiting this place!!!
</p>

